DATABASE_URL=postgresql://postgres:password@localhost:5432/subms
JWT_SECRET=change_me_jwt_secret_32chars_min
JWT_REFRESH_SECRET=change_me_refresh_secret_32chars
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hailhsk2002@gmail.com
SMTP_PASS=tsuqdivdbmopnrnc
FRONTEND_URL=http://localhost:5173
PORT=4000
NODE_ENV=development
